server/bench

target/
logs/
js

.bloop
.bsp
.idea
.metals
.vscode
.classpath
.project
.settings

*.DS_Store
*.swp
*.class
*.tasty

metals.sbt
client.js
client.js.map

vite/
node_modules/
package-lock.json
package.json

